@charset "UTF-8";
.bodyIndex .index footer, footer, .mainHorarios footer, .servicios footer, .bodyPromo .promociones footer, body .bodyTr footer, .bodyDq footer {
  flex-wrap: wrap;
  align-self: flex-end;
  background-color: #d86ed8;
  height: 130px;
  border-style: double; }

.bodyIndex {
  background-image: url(../imagenes/organic.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .bodyIndex .index {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer"; }
    .bodyIndex .index header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-area: header;
      background-color: #ed7eed;
      background-image: linear-gradient(#d31dbe, #e8e849);
      margin: 1rem;
      height: 200px;
      border-style: double; }
      .bodyIndex .index header nav div div ul a {
        background-color: pink;
        border-radius: 20px;
        padding: 5px;
        margin: 5px;
        color: #970577; }
      .bodyIndex .index header nav div div ul li {
        background-color: pink;
        border-radius: 20px;
        margin: 5px;
        color: #970577; }
      .bodyIndex .index header .logo {
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2.0s;
        display: flex;
        border-radius: 200px;
        width: 10%;
        margin: 0.1rem; }
      @media (max-width: 680px) {
        .bodyIndex .index header .logo {
          width: 30%; } }
      .bodyIndex .index header h1 {
        text-align: center;
        font-size: 5rem;
        font-family: cursive;
        color: #9a1b73;
        margin-left: 3rem; }
      @media (max-width: 990px) {
        .bodyIndex .index header h1 {
          font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
    .bodyIndex .index footer {
      grid-area: footer; }
      .bodyIndex .index footer .titFoo {
        display: flex;
        justify-content: center; }
      .bodyIndex .index footer .redSocial {
        display: flex;
        justify-content: center; }
        .bodyIndex .index footer .redSocial a {
          padding: 0px 20px 0 20px;
          font-size: 25px; }
      .bodyIndex .index footer .ultimo {
        display: flex;
        justify-content: end; }

/*hasta aqui va el index.html*/
.backSm {
  background-image: url(../imagenes/back.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .backSm header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #ed7eed;
    background-image: linear-gradient(#d31dbe, #e8e849);
    margin: 1rem;
    height: 200px;
    border-style: double; }
    .backSm header nav div div ul a {
      background-color: pink;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      color: #970577; }
    .backSm header nav div div li {
      background-color: pink;
      border-radius: 20px;
      margin: 5px;
      color: #970577; }
  .backSm .logo {
    animation-name: latido;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.0s;
    display: flex;
    border-radius: 200px;
    width: 10%;
    margin: 0.1rem; }
  @media (max-width: 680px) {
    .backSm .logo {
      width: 30%; } }
  .backSm h1 {
    text-align: center;
    font-size: 5rem;
    font-family: cursive;
    color: #9a1b73;
    margin-left: 3rem; }
  @media (max-width: 990px) {
    .backSm h1 {
      font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

main div .tituloSm {
  border-radius: 50px;
  padding: 4px;
  text-align: center;
  color: #f3efef;
  font-size: 3rem;
  margin: 3rem 0 3rem 0; }

main div .tituloDos {
  border-radius: 50px;
  padding: 2px;
  text-align: center;
  color: #f3efef;
  font-size: 3rem;
  margin: 3rem 0 3rem 0; }

main div .tituloTres {
  border-radius: 50px;
  padding: 4px;
  text-align: center;
  color: #f3efef;
  font-size: 3rem;
  margin: 3rem 0 3rem 0; }

main div .textoUno {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 3rem 0; }

main div .textoDos {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 3rem 0; }

main div .textoTres {
  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0 3rem 0; }

footer .titFoo {
  display: flex;
  justify-content: center; }

footer .redSocial {
  display: flex;
  justify-content: center; }
  footer .redSocial a {
    padding: 0px 20px 0 20px;
    font-size: 25px; }

footer .ultimo {
  display: flex;
  justify-content: end; }

/* hasta aqui fue "Sobre mi"*/
.mainHorarios {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-image: url(../imagenes/72337421-hermosas-uñas-postizas-muestra-de-esmalte-de-uñas-marco-de-texto-aislado-sobre-fondo-blanco.webp);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .mainHorarios header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #ed7eed;
    background-image: linear-gradient(#d31dbe, #e8e849);
    margin: 1rem;
    height: 200px;
    border-style: double; }
    .mainHorarios header nav div div ul a {
      background-color: pink;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      color: #970577; }
    .mainHorarios header nav div div ul li {
      background-color: pink;
      border-radius: 20px;
      margin: 5px;
      color: #970577; }
    .mainHorarios header .logo {
      animation-name: latido;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2.0s;
      display: flex;
      border-radius: 200px;
      width: 10%;
      margin: 0.1rem; }
    @media (max-width: 680px) {
      .mainHorarios header .logo {
        width: 30%; } }
    .mainHorarios header h1 {
      text-align: center;
      font-size: 5rem;
      font-family: cursive;
      color: #9a1b73;
      margin-left: 3rem; }
    @media (max-width: 990px) {
      .mainHorarios header h1 {
        font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
  .mainHorarios .tituloHor {
    display: flex;
    justify-content: center;
    height: 230px;
    color: #9a1b73;
    margin-top: 200px;
    background-image: linear-gradient(#d31dbe, #e8e849); }
  .mainHorarios .agendateAqui {
    margin-top: 40px; }
  .mainHorarios footer {
    grid-area: footer; }
    .mainHorarios footer .titFoo {
      display: flex;
      justify-content: center; }
    .mainHorarios footer .redSocial {
      display: flex;
      justify-content: center; }
      .mainHorarios footer .redSocial a {
        padding: 0px 20px 0 20px;
        font-size: 25px; }
    .mainHorarios footer .ultimo {
      display: flex;
      justify-content: end; }

/*hasta aqui fue Horarios*/
.bodyServ {
  background-image: url(../imagenes/servicios.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

.servicios header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  background-color: #ed7eed;
  background-image: linear-gradient(#d31dbe, #e8e849);
  margin: 1rem;
  height: 200px;
  border-style: double; }
  .servicios header nav div div ul a {
    background-color: pink;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    color: #970577; }
  .servicios header nav div div ul li {
    background-color: pink;
    border-radius: 20px;
    margin: 5px;
    color: #970577; }
  .servicios header .logo {
    animation-name: latido;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.0s;
    display: flex;
    border-radius: 200px;
    width: 10%;
    margin: 0.1rem; }
  @media (max-width: 680px) {
    .servicios header .logo {
      width: 30%; } }
  .servicios header h1 {
    text-align: center;
    font-size: 5rem;
    font-family: cursive;
    color: #9a1b73;
    margin-left: 3rem; }
  @media (max-width: 990px) {
    .servicios header h1 {
      font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

.servicios footer .titFoo {
  display: flex;
  justify-content: center; }

.servicios footer .redSocial {
  display: flex;
  justify-content: center; }
  .servicios footer .redSocial a {
    padding: 0px 20px 0 20px;
    font-size: 25px; }

.servicios footer .ultimo {
  display: flex;
  justify-content: end; }

/*hasta aqui fue servicios*/
.bodyPromo {
  background-image: url(../imagenes/belusport2.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .bodyPromo .promociones header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #ed7eed;
    background-image: linear-gradient(#d31dbe, #e8e849);
    margin: 1rem;
    height: 200px;
    border-style: double; }
    .bodyPromo .promociones header nav div div ul a {
      background-color: pink;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      color: #970577; }
    .bodyPromo .promociones header nav div div ul li {
      background-color: pink;
      border-radius: 20px;
      margin: 5px;
      color: #970577; }
    .bodyPromo .promociones header .logo {
      animation-name: latido;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2.0s;
      display: flex;
      border-radius: 200px;
      width: 10%;
      margin: 0.1rem; }
    @media (max-width: 680px) {
      .bodyPromo .promociones header .logo {
        width: 30%; } }
    .bodyPromo .promociones header h1 {
      text-align: center;
      font-size: 5rem;
      font-family: cursive;
      color: #9a1b73;
      margin-left: 3rem; }
    @media (max-width: 990px) {
      .bodyPromo .promociones header h1 {
        font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
  .bodyPromo .promociones main .titPromo {
    display: flex;
    justify-content: center; }
    .bodyPromo .promociones main .titPromo .promo {
      background-color: #9a1b73;
      font-size: 60px;
      color: pink;
      border-radius: 40px;
      padding: 5px; }
  .bodyPromo .promociones main .promoMay {
    display: flex;
    justify-content: center;
    margin-top: 57px; }
    .bodyPromo .promociones main .promoMay .promo {
      background-color: #9a1b73;
      font-size: 30px;
      color: pink;
      border-radius: 40px;
      padding: 5px; }
  .bodyPromo .promociones main .textoPromo {
    margin-top: 250px;
    margin-bottom: 100px;
    color: pink;
    font-size: 25px;
    background-color: #9a1b73;
    border: radius 40px; }
  .bodyPromo .promociones footer .titFoo {
    display: flex;
    justify-content: center; }
  .bodyPromo .promociones footer .redSocial {
    display: flex;
    justify-content: center; }
    .bodyPromo .promociones footer .redSocial a {
      padding: 0px 20px 0 20px;
      font-size: 25px; }
  .bodyPromo .promociones footer .ultimo {
    display: flex;
    justify-content: end; }

/* hasta aqui fue promociones*/
body .bodyTr {
  background-image: url(../imagenes/imagespink.jfif);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  body .bodyTr header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #ed7eed;
    background-image: linear-gradient(#d31dbe, #e8e849);
    margin: 1rem;
    height: 200px;
    border-style: double; }
    body .bodyTr header nav div div ul a {
      background-color: pink;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      color: #970577; }
    body .bodyTr header nav div div ul li {
      background-color: pink;
      border-radius: 20px;
      margin: 5px;
      color: #970577; }
    body .bodyTr header .logo {
      animation-name: latido;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2.0s;
      display: flex;
      border-radius: 200px;
      width: 10%;
      margin: 0.1rem; }
    @media (max-width: 680px) {
      body .bodyTr header .logo {
        width: 30%; } }
    body .bodyTr header h1 {
      text-align: center;
      font-size: 5rem;
      font-family: cursive;
      color: #9a1b73;
      margin-left: 3rem; }
    @media (max-width: 990px) {
      body .bodyTr header h1 {
        font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
  body .bodyTr img:hover {
    transform: scale(1.3); }
  body .bodyTr footer .titFoo {
    display: flex;
    justify-content: center; }
  body .bodyTr footer .redSocial {
    display: flex;
    justify-content: center; }
    body .bodyTr footer .redSocial a {
      padding: 0px 20px 0 20px;
      font-size: 25px; }
  body .bodyTr footer .ultimo {
    display: flex;
    justify-content: end; }

/* hasta aqui fue trabajos realizados*/
.bodyCons {
  background-image: url(../imagenes/imagespink.jfif);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  .bodyCons .consu {
    display: grid;
    grid-template-areas: "header" "main" "footer"; }
    .bodyCons .consu main {
      margin: 60px; }
  .bodyCons header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #ed7eed;
    background-image: linear-gradient(#d31dbe, #e8e849);
    margin: 1rem;
    height: 200px;
    border-style: double; }
    .bodyCons header nav div div ul a {
      background-color: pink;
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
      color: #970577; }
    .bodyCons header nav div div ul li {
      background-color: pink;
      border-radius: 20px;
      margin: 5px;
      color: #970577; }
    .bodyCons header .logo {
      animation-name: latido;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 2.0s;
      border-radius: 200px;
      width: 10%;
      margin: 0.1rem; }
    @media (max-width: 680px) {
      .bodyCons header .logo {
        width: 30%; } }
    .bodyCons header h1 {
      text-align: center;
      font-size: 5rem;
      font-family: cursive;
      color: #9a1b73;
      margin-left: 3rem; }
    @media (max-width: 990px) {
      .bodyCons header h1 {
        font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

main {
  display: flex;
  align-items: center;
  flex-direction: column; }
  main .titCon {
    margin-bottom: 30px;
    font-family: cursive;
    color: #9a1b73;
    background-color: #ab8cc8;
    border-radius: 25px; }
  main .texCon {
    margin-bottom: 30px;
    font-family: cursive;
    color: #9a1b73;
    background-color: #ab8cc8;
    border-radius: 24px; }
  main .slide img {
    height: 50vh; }

footer {
  grid-area: footer; }
  footer .titFoo {
    display: flex;
    justify-content: center; }
  footer .redSocial {
    display: flex;
    justify-content: center; }
    footer .redSocial a {
      padding: 0px 20px 0 20px;
      font-size: 25px; }
  footer .ultimo {
    display: flex;
    justify-content: end; }

/* hasta aqui fue consultorio*/
.bodyDq {
  background-image: url(../imagenes/pink-target-map-poinet-pin-duotone-style-pink-background-3d-rendering_476612-.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  .bodyDq .contenedor {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "header header header header" " section section main main" " section section main main" "footer footer footer footer" "footer footer footer footer"; }
    .bodyDq .contenedor header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      grid-area: header;
      background-color: #ed7eed;
      background-image: linear-gradient(#d31dbe, #e8e849);
      margin: 1rem;
      height: 200px;
      border-style: double; }
      .bodyDq .contenedor header nav div div ul a {
        background-color: pink;
        border-radius: 20px;
        padding: 5px;
        margin: 5px;
        color: #970577; }
      .bodyDq .contenedor header nav div div ul li {
        background-color: pink;
        border-radius: 20px;
        margin: 5px;
        color: #970577; }
      .bodyDq .contenedor header .logo {
        animation-name: latido;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2.0s;
        border-radius: 200px;
        width: 10%;
        margin: 0.1rem; }
      @media (max-width: 680px) {
        .bodyDq .contenedor header .logo {
          width: 30%; } }
      .bodyDq .contenedor header h1 {
        text-align: center;
        font-size: 5rem;
        font-family: cursive;
        color: #9a1b73;
        margin-left: 3rem; }
      @media (max-width: 990px) {
        .bodyDq .contenedor header h1 {
          font-size: 2rem; } }

@keyframes latido {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
  .bodyDq main {
    grid-area: main;
    margin: 100px; }
    .bodyDq main p {
      font-size: 40px; }
  .bodyDq section {
    grid-area: section;
    margin: 100px; }
    @media (max-width: 1000px) {
      .bodyDq section iframe iframe {
        height: 150px;
        width: 200px; } }
  .bodyDq footer {
    grid-area: footer; }
    .bodyDq footer .titFoo {
      display: flex;
      justify-content: center; }
    .bodyDq footer .redSocial {
      display: flex;
      justify-content: center; }
      .bodyDq footer .redSocial a {
        padding: 0px 20px 0 20px;
        font-size: 25px; }
    .bodyDq footer .ultimo {
      display: flex;
      justify-content: end; }
