
@import "utilites/variables";
@import "utilites/mixins";
@import "utilites/extend";



.bodyIndex{
    background-image: url(../imagenes/organic.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    .index{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    

    
    header{ @include flex;
        grid-area: header;
        background-color:$color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
       @include medidas (1rem, 200px);
        border-style: double;
        
        nav{
          div{
              div{
                  ul{
                      a{
                          background-color: pink;
                          border-radius: 20px;
                          padding: 5px;
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                      }
                      li{
                        background-color: pink;
                        border-radius: 20px;
                    
                        margin: 5px ;
                        color: rgb(151, 5, 119);
                      }
                  }
              }
          }

            
        }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        @media (max-width:680px) {
            .logo{
                width: 30%;
            }
            
        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }

    
    }
    footer {
        @extend %footer;
        grid-area: footer;   

        .titFoo{
            display: flex;
            justify-content: center;
        
        }
        .redSocial{
            display: flex;
            justify-content:center;
        
         a{
            padding: 0px 20px 0 20px;
        font-size: 25px;
        }
        
        }        
         .ultimo{
            display: flex;
            justify-content: end;
        }
        }
        }
        
    }
    
    
    /*hasta aqui va el index.html*/
    .backSm {
    
        background-image: url(../imagenes/back.jpg);
        
    
             width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            header{ @include flex;
                grid-area: header;
                background-color: $color-principal;
                background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
                @include medidas (1rem, 200px);
                border-style: double;
                nav{
                    div{
                        div{
                            ul{
                                a{
                                    background-color: pink;
                                    border-radius: 20px;
                                    padding: 5px;
                                    margin: 5px ;
                                    color: rgb(151, 5, 119);
                                }
                            
                                    
                        }
                                li{
                                  background-color: pink;
                                  border-radius: 20px;
                              
                                  margin: 5px ;
                                  color: rgb(151, 5, 119);
                                }
                                
                            }
                        }
                    }
          
                      
                  }
        
                .logo{ 
                     animation-name: latido;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-duration: 2.0s;
                    display: flex;
                    border-radius: 200px;
                    width: 10%;
                    margin: 0.1rem;
        
                }
                @media (max-width:680px) {
                    .logo{
                        width: 30%;
                    }
                    
                }
                h1 {
                    text-align: center;
                    font-size: 5rem;
                    font-family: cursive;
                    color: $color-titulo;
                    margin-left: 3rem;
                }
                @media (max-width: 990px) {
                    h1{
                        font-size: 2rem
                    }
                    
                }
                @keyframes latido {
                    from {
                        transform: scale(1);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
               
                
        
            }
            }main{
                div{
                    .tituloSm {
                        border-radius: $medida-principal - 50;
                        padding: 4px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                     
                    
                    }
                    
                    .tituloDos {
                        border-radius: $medida-principal - 50;
                        padding: 2px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .tituloTres {
                        border-radius: $medida-principal - 50;
                        padding: 4px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoUno {
                    
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoDos {
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoTres {
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                }
    
            }
            footer {
                @extend %footer;
                
                .titFoo{
                    display: flex;
                    justify-content: center;
                
                }
                .redSocial{
                    display: flex;
                    justify-content:center;
                
                 a{
                    padding: 0px 20px 0 20px;
                font-size: 25px;
                }
                
                }        
                 .ultimo{
                    display: flex;
                    justify-content: end;
                }
                }
           
            

        
       
/* hasta aqui fue "Sobre mi"*/


.mainHorarios {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-image: url(../imagenes/72337421-hermosas-uñas-postizas-muestra-de-esmalte-de-uñas-marco-de-texto-aislado-sobre-fondo-blanco.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        @media (max-width:680px) {
            .logo{
                width: 30%;
            }
            
        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
.tituloHor{
    display: flex;
    justify-content: center;
    height: 230px;
    color: rgb(154, 27, 115);
margin-top: 200px;
background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73))
}
.agendateAqui {
margin-top: 40px;

   

}


footer {
    @extend %footer;
    grid-area: footer;

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }


}
/*hasta aqui fue Horarios*/

.bodyServ{ background-image: url(../imagenes/servicios.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
.servicios{
  

    header{ @include flex;
        grid-area: header;
        background-color:$color-principal;
        background-image:linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        @media (max-width:680px) {
            .logo{
                width: 30%;
            }
            
        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
  
    footer {
        @extend %footer;
           
    
        .titFoo{
            display: flex;
            justify-content: center;
        
        }
        .redSocial{
            display: flex;
            justify-content:center;
        
         a{
            padding: 0px 20px 0 20px;
        font-size: 25px;
        }
        
        }        
         .ultimo{
            display: flex;
            justify-content: end;
        }
        }
    
        }
        



/*hasta aqui fue servicios*/

.bodyPromo{ background-image: url(../imagenes/belusport2.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    

.promociones{
    

    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        @media (max-width:680px) {
            .logo{
                width: 30%;
            }
            
        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
main{
    .titPromo{
        display: flex;
        justify-content: center;
        ;
        .promo{
            background-color: $color-titulo;
            font-size: 60px;
            color: pink;
            border-radius: 40px;
            padding: 5px;
        }
        
    
    }
    .promoMay{
        display: flex;
        justify-content: center;
        margin-top: 57px;
        .promo{
            background-color: $color-titulo;
            font-size: 30px;
            color: pink;
            border-radius: 40px;
            padding: 5px;
        }

    }
    .textoPromo{
        margin-top: 250px;
        margin-bottom: 100px;
        color: pink;
        font-size: 25px;
        background-color: $color-titulo;
        border: radius 40px;

    }

}
footer {
    @extend %footer;
   

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }

}
}
/* hasta aqui fue promociones*/
body{
.bodyTr { 
    background-image: url(../imagenes/imagespink.jfif);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        @media (max-width:680px) {
            .logo{
                width: 30%;
            }
            
        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
img:hover{
    transform: scale(1.3);
}
footer {
    @extend %footer;
   

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }
        
    
}
}

/* hasta aqui fue trabajos realizados*/

.bodyCons{background-image: url(../imagenes/imagespink.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    .consu{ 
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer";
            main{
                margin: 60px
            }

    }

    header{@include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;}

            @media (max-width:680px) {
    .logo{
        width: 30%;
    }
    
}
            


        
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}

    }
    main{ display: flex;
        align-items: center;
        flex-direction: column;
        .titCon{
            margin-bottom: 30px;
            font-family: cursive;
            color: $color-titulo;
            background-color: rgb(171, 140, 200);
            border-radius: 25px;          
        }
        .texCon{
            margin-bottom: 30px;
            font-family: cursive;
            color: $color-titulo;
            background-color: rgb(171, 140, 200);
            border-radius: 25px;          
            
        }
        .slide{
            
            img{
                height: 50vh;
            
            
            }
        }
    }
    


footer {
    @extend %footer;
    grid-area: footer;
   

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }
    /* hasta aqui fue consultorio*/

    .bodyDq{
         background-image: url(../imagenes/pink-target-map-poinet-pin-duotone-style-pink-background-3d-rendering_476612-.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        
        .contenedor{
            display: grid;
            height: 100vh;
            grid-template-columns:repeat(4, 1fr) ;
            grid-template-areas: "header header header header"
                                 "header header header header"
                                 " section section main main"
                                 " section section main main"
                                 "footer footer footer footer"
                                 "footer footer footer footer";
                                 header{@include flex;
                                    grid-area: header;
                                    background-color: $color-principal;
                                    background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
                                    @include medidas (1rem, 200px);
                                    border-style: double;
                                    nav{
                                        div{
                                            div{
                                                ul{
                                                    a{
                                                        background-color: pink;
                                                        border-radius: 20px;
                                                        padding: 5px;
                                                        margin: 5px ;
                                                        color: rgb(151, 5, 119);
                                                    }
                                                    li{
                                                      background-color: pink;
                                                      border-radius: 20px;
                                                  
                                                      margin: 5px ;
                                                      color: rgb(151, 5, 119);
                                                    }
                                                }
                                            }
                                        }
                              
                                          
                                      }
                            
                                    .logo{ 
                                         animation-name: latido;
                                        animation-iteration-count: infinite;
                                        animation-timing-function: linear;
                                        animation-duration: 2.0s;
                                        border-radius: $medida-principal*2;
                                        width: 10%;
                                        margin: 0.1rem;}
                            
                                        @media (max-width:680px) {
                                .logo{
                                    width: 30%;
                                }
                                
                            }
                                        
                            
                            
                                    
                                    h1 {
                                        text-align: center;
                                        font-size: 5rem;
                                        font-family: cursive;
                                        color: $color-titulo;
                                        margin-left: 3rem;
                                    }
                                    @media (max-width: 990px) {
                                        h1{
                                            font-size: 2rem
                                        }
                                        
                                    }
                                    @keyframes latido {
                                        from {
                                            transform: scale(1);
                                        }
                                    
                                        to {
                                            transform: scale(1.1);
                                        }
                                   
                                    
                            
                                }
                            }
                            
                                }
                                main{
                                    grid-area: main;
                                    margin: 100px;
                                    p{
                                        font-size: 40px;
                                    }
                                }
                                section{
                                    grid-area: section;
                                    margin: 100px;
                                    iframe{
                                        @media (max-width:1000px) {
                                            iframe{
                                                height: 150px;
                                                width: 200px;
                                        
                                            }
                                            
                                        }
                                    }


                                }
                                footer {
                                    @extend %footer;
                                    grid-area: footer;
                                   
                                
                                    .titFoo{
                                        display: flex;
                                        justify-content: center;
                                    
                                    }
                                    .redSocial{
                                        display: flex;
                                        justify-content:center;
                                    
                                     a{
                                        padding: 0px 20px 0 20px;
                                    font-size: 25px;
                                    }
                                    
                                    }        
                                     .ultimo{
                                        display: flex;
                                        justify-content: end;
                                    }


        }
    }

        






