
@import "utilites/variables";
@import "utilites/mixins";
@import "utilites/extend";


.index{

    display: grid;
    grid-template-areas: 
        "header"
        "header"
        "header"
        "mainJust"
        "mainJust"
        "mainJust"
        "footer"
        "footer"
        "footer";
    height: 100vh;
    background-image: url(../imagenes/organic.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    header{ @include flex;
        grid-area: header;
        background-color:$color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
       @include medidas (1rem, 200px);
        border-style: double;
        
        nav{
          div{
              div{
                  ul{
                      a{
                          background-color: pink;
                          border-radius: 20px;
                          padding: 5px;
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                      }
                      li{
                        background-color: pink;
                        border-radius: 20px;
                    
                        margin: 5px ;
                        color: rgb(151, 5, 119);
                      }
                  }
              }
          }

            
        }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
    }
    footer {
        @extend %footer;
        grid-area: footer;   

        .titFoo{
            display: flex;
            justify-content: center;
        
        }
        .redSocial{
            display: flex;
            justify-content:center;
        
         a{
            padding: 0px 20px 0 20px;
        font-size: 25px;
        }
        
        }        
         .ultimo{
            display: flex;
            justify-content: end;
        }
        }
        }
    
    
    
    /*hasta aqui va el index.html*/
    .backSm {
    
        background-image: url(../imagenes/back.jpg);
        
    
             width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            header{ @include flex;
                grid-area: header;
                background-color: $color-principal;
                background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
                @include medidas (1rem, 200px);
                border-style: double;
                nav{
                    div{
                        div{
                            ul{
                                a{
                                    background-color: pink;
                                    border-radius: 20px;
                                    padding: 5px;
                                    margin: 5px ;
                                    color: rgb(151, 5, 119);
                                }
                                li{
                                  background-color: pink;
                                  border-radius: 20px;
                              
                                  margin: 5px ;
                                  color: rgb(151, 5, 119);
                                }
                            }
                        }
                    }
          
                      
                  }
        
                .logo{ 
                     animation-name: latido;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-duration: 2.0s;
                    display: flex;
                    border-radius: 200px;
                    width: 10%;
                    margin: 0.1rem;
        
                }
                h1 {
                    text-align: center;
                    font-size: 5rem;
                    font-family: cursive;
                    color: $color-titulo;
                    margin-left: 3rem;
                }
                @media (max-width: 990px) {
                    h1{
                        font-size: 2rem
                    }
                    
                }
                @keyframes latido {
                    from {
                        transform: scale(1);
                    }
                
                    to {
                        transform: scale(1.1);
                    }
               
                
        
            }
            }main{
                div{
                    .tituloSm {
                        border-radius: $medida-principal - 50;
                        padding: 4px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                     
                    
                    }
                    
                    .tituloDos {
                        border-radius: $medida-principal - 50;
                        padding: 2px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .tituloTres {
                        border-radius: $medida-principal - 50;
                        padding: 4px;
                        text-align: center;
                        color: rgb(243, 239, 239);
                        font-size: 3rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoUno {
                    
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoDos {
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                    
                    .textoTres {
                        color: whitesmoke;
                        text-align: center;
                        font-size: 2rem;
                        margin: 3rem 0 3rem 0;
                    }
                }
    
            }
            footer {
                @extend %footer;
                
                .titFoo{
                    display: flex;
                    justify-content: center;
                
                }
                .redSocial{
                    display: flex;
                    justify-content:center;
                
                 a{
                    padding: 0px 20px 0 20px;
                font-size: 25px;
                }
                
                }        
                 .ultimo{
                    display: flex;
                    justify-content: end;
                }
                }
           
            

        
        }
/* hasta aqui fue "Sobre mi"*/


.mainHorarios {
    display: grid;
    grid-template-areas: 
        "header header"
        "header header"
        "header header"
        "main main"
        "main main"
        "main main"
        "footer footer"
        "footer footer"
        "footer footer";
    background-image: url(../imagenes/72337421-hermosas-uñas-postizas-muestra-de-esmalte-de-uñas-marco-de-texto-aislado-sobre-fondo-blanco.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
.tituloHor{
    display: flex;
    justify-content: center;
    height: 230px;
    color: rgb(154, 27, 115);
margin-top: 200px;
background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73))
}
.agendateAqui {
margin-top: 40px;

   

}


footer {
    @extend %footer;
    grid-area: footer;

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }


}
/*hasta aqui fue Horarios*/
.servicios{
    background-image: url(../imagenes/servicios.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    header{ @include flex;
        grid-area: header;
        background-color:$color-principal;
        background-image:linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
  
    footer {
        @extend %footer;
           
    
        .titFoo{
            display: flex;
            justify-content: center;
        
        }
        .redSocial{
            display: flex;
            justify-content:center;
        
         a{
            padding: 0px 20px 0 20px;
        font-size: 25px;
        }
        
        }        
         .ultimo{
            display: flex;
            justify-content: end;
        }
        }
    
        }
        



/*hasta aqui fue servicios*/
.promociones{
    background-image: url(../imagenes/belu.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
main{
    .titPromo{
        display: flex;
        justify-content: center;
        .promo{
            background-color: rgb(212, 229, 244);
            font-size: 60px;
            color: rgb(6, 1, 1);
            border-radius: 40px;
            padding: 5px;
        }
        
    
    }
    .promoMay{
        display: flex;
        justify-content: center;
        margin-top: 57px;
        .promo{
            background-color: rgb(212, 229, 244);
            font-size: 30px;
            color: rgb(6, 1, 1);
            border-radius: 40px;
            padding: 5px;
        }

    }
    .textoPromo{
        margin-top: 250px;
        margin-bottom: 100px;
        color: rgb(6, 1, 1);
        font-size: 20px;
        background-color: rgb(212, 229, 244);
        border: radius 40px;

    }

}
footer {
    @extend %footer;
   

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }

}
/* hasta aqui fue promociones*/
body{
.bodyTr { 
    background-image: url(../imagenes/imagespink.jfif);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    header{ @include flex;
        grid-area: header;
        background-color: $color-principal;
        background-image: linear-gradient(rgb(211, 29, 190), rgb(232, 232, 73));
        @include medidas (1rem, 200px);
        border-style: double;
        nav{
            div{
                div{
                    ul{
                        a{
                            background-color: pink;
                            border-radius: 20px;
                            padding: 5px;
                            margin: 5px ;
                            color: rgb(151, 5, 119);
                        }
                        li{
                          background-color: pink;
                          border-radius: 20px;
                      
                          margin: 5px ;
                          color: rgb(151, 5, 119);
                        }
                    }
                }
            }
  
              
          }

        .logo{ 
             animation-name: latido;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 2.0s;
            display: flex;
            border-radius: $medida-principal*2;
            width: 10%;
            margin: 0.1rem;

        }
        h1 {
            text-align: center;
            font-size: 5rem;
            font-family: cursive;
            color: $color-titulo;
            margin-left: 3rem;
        }
        @media (max-width: 990px) {
            h1{
                font-size: 2rem
            }
            
        }
        @keyframes latido {
            from {
                transform: scale(1);
            }
        
            to {
                transform: scale(1.1);
            }
       
        

    }
}
img:hover{
    transform: scale(1.3);
}
footer {
    @extend %footer;
   

    .titFoo{
        display: flex;
        justify-content: center;
    
    }
    .redSocial{
        display: flex;
        justify-content:center;
    
     a{
        padding: 0px 20px 0 20px;
    font-size: 25px;
    }
    
    }        
     .ultimo{
        display: flex;
        justify-content: end;
    }
    }
        
    
}
}



    